<div id="conteudo"></div>


<!-- MODAL -->
<div id="modalExcluir" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Tarefa</h5>          
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir essa tarefa?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-confirmar>Excluir</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>